 /* Add a dark background color with a little bit see-through */ 

.navbar {
    margin-bottom: 0;
    background-color: #A4C639;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0375b4 !important;
    background-color: #ffce00 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.bg-3 {
	background-color: #fff;
	padding-top: 20px;
	padding-right: 25px;
	padding-left: 25px;
}

.bg-4 {
    background-color: #006899;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    height: 550px;
}

.col-sm-2 {
	height: 200px;
}

.col-md-4 {
    
}

.footer-distributed{
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;

    padding: 45px 40px;
    margin-top: 0px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */
.footer-distributed h3{
    color:  #A4C639;
    font-family: fantasy;
    font-size: 24px;
    margin: 0;
}
.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */
.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
.footer-distributed .footer-company-name{
    color:  #006E51;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
    width: 35%;
}
.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p{
    display: inline-block;
    color: #A4C639;
    vertical-align: middle;
    margin:0;
    font-family: fantasy;
}
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}

/* Footer Right */
.footer-distributed .footer-right{
    width: 20%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color:  #A4C639;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: monospace;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #A4C639;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}
@media (max-width: 880px) {
    .footer-distributed{
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    border-radius: 5px;
}

.carousel-caption h3 {
    color: #fff !important;
    font-family: calibri;

}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #fff;
}

.carousel-indicators li {
    border-color: #fff;
}

.carousel-indicators li.active {
    background-color: #A4C639;
}

@media (max-width: 1000px) {
}

.panel {
    border-color: #A4C639;
}

 .border {
	border: 1px solid black;
}
